Repository CCSI-Toolset/FOQUS, pull requests merged in 2018-10, with the labels that each got.

#299 Optimization run and pytest for Result object
  .gitignore
  cloud/aws/node/post-session-result/.env
  cloud/aws/node/post-session-result/.gitignore
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/1539122007203.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/1.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/10.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/11.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/12.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/13.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/14.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/15.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/16.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/17.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/2.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/3.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/4.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/5.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/6.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/7.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/8.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/9.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/1/4fd5155e-7012-48f0-aedb-73c1e6c983e6.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/1/5a233bd1-e8b6-47fa-8a92-b8e099b1e74c.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/1/e8b175de-e589-471b-aadc-486b590ac6c7.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/10/8c714eee-f3de-4b4c-b2e5-9ef8a27cb87b.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/10/d5e58aaf-5824-4e2a-90c9-ceb5636b24d7.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/11/5a37811b-fbc9-47e8-a747-2a7ceadd365f.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/12/0d769e76-2cea-4ab4-a4f5-887486b27df3.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/13/e5e0240a-9234-4fdc-b0b1-f503338f187a.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/14/409f506e-e2f9-42e6-8a38-6aedc31042cb.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/15/0be1202c-d94b-44ec-99eb-b09028dab74a.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/16/a4d97e90-a19d-4c5f-ad16-e20c533565b8.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/17/f393bb7b-2a2e-4fd1-bf89-67ec18db9d02.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/2/c75b9a66-5ca1-4c10-81b0-88041418bb1c.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/3/3e9f2dba-f4c9-4ad8-8f5e-57abfbee5a4c.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/3/f3b501ca-9e8f-427d-99c7-5abb84f6d9fd.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/4/6e45b080-32b2-4bc3-af9a-7123f2d057f9.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/5/9824f85f-9319-40b1-a1d9-d56240a75779.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/5/98a13d3d-dd7e-446b-9bcc-e0b641503af9.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/6/02c8d09e-3fd2-4e10-aa37-f9daad4d565e.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/7/61f32145-6236-416e-aef0-3e7d5c2d029c.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/8/1e26dd4a-4fa6-47bf-a19c-88972aaa3b83.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/8/67da6cf0-0652-483f-9aa2-406e1d662ce6.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/8/9e5c18c5-15bd-4715-b8ff-d3f9b3119471.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/9/185a911c-38bf-4693-a8a4-9769c2a909fd.json
  cloud/aws/test/data/s3/foqus-sessions/anonymous/6f85fc45-6044-478a-b56e-ac5f820eb861/b6c71dc1-5c93-4526-99ef-07d6af0ba59f/page/9/75de625b-ad25-40f5-ace0-d821f2854ebe.json
  foqus_lib/framework/graph/graph.py
  foqus_lib/framework/sampleResults/test/__init__.py
  foqus_lib/framework/sampleResults/test/results_s3_test.py
  pytest.ini
Labels: Testing

#300 Added sdoe refactored code
  foqus_lib/framework/sdoe/README
  foqus_lib/framework/sdoe/candidate.csv
  foqus_lib/framework/sdoe/candidate.py
  foqus_lib/framework/sdoe/candidate.pyc
  foqus_lib/framework/sdoe/config.ini
  foqus_lib/framework/sdoe/distance.py
  foqus_lib/framework/sdoe/distance.pyc
  foqus_lib/framework/sdoe/historical_data.csv
  foqus_lib/framework/sdoe/results/sdoe_candidates_8_100
  foqus_lib/framework/sdoe/results/sdoe_candidates_8_2000
  foqus_lib/framework/sdoe/results/sdoe_candidates_8_500
  foqus_lib/framework/sdoe/sdoe.out
  foqus_lib/framework/sdoe/sdoe.py
Labels: SDOE

#309 Added Constraint-Based Optimization Test
  examples/Smoke Tests/optimization_smoke_test_constraint.py
Labels: Optimization, Testing
