Repository CCSI-Toolset/FOQUS, pull requests merged in 2019-07, with the labels that each got.

#528 Adding filename extension to SDOE created designs
  foqus_lib/framework/sdoe/sdoe.py
Labels: SDOE

#533 Fixing a bug with writing samples created by psuade
  foqus_lib/framework/sdoe/sdoe.py
  foqus_lib/gui/common/InputPriorTable.py
  foqus_lib/gui/sdoe/SimSetup_UI.ui
  foqus_lib/gui/sdoe/sdoeAnalysisDialog.py
  foqus_lib/gui/sdoe/sdoeSetupFrame.py
  foqus_lib/gui/sdoe/sdoeSimSetup.py
Labels: SDOE

#534 Update make.bat to handle symlink
  docs/make.bat
Labels: Documentation

#538 Fixing SDoE plotting capability
  foqus_lib/framework/sdoe/sdoe.py
Labels: SDOE

#541 Fixing issue #540
  foqus_lib/gui/sdoe/sdoeSetupFrame.py
Labels: SDOE, bug :bomb:
