Repository CCSI-Toolset/FOQUS, pull requests merged in 2020-10, with the labels that each got.

#824 Some fixes for UQ/OUU demo
  docs/source/chapt_ouu/reference.rst
  foqus_lib/framework/uq/Plotter.py
  foqus_lib/framework/uq/Visualizer.py
  foqus_lib/gui/common/InputPriorTable.py
  foqus_lib/gui/ouu/ouuSetupFrame.py
  foqus_lib/gui/uq/AnalysisDialog.py
Labels: OUU, Priority:High, UQ

#831 SDoE: Fixing USF sequential design
  foqus_lib/framework/sdoe/plot_utils.py
  foqus_lib/framework/sdoe/sdoe.py
  foqus_lib/framework/sdoe/usf.py
Labels: SDOE

#832 Ensure that all R files are installed
  setup.py
Labels: Priority:High

#835 Make import guard for dmf_lib more specific and disable pylint import-error check
  foqus_lib/gui/model/dmfUploadDialog.py
Labels: Priority:Mid

#836 Add more imports for surrogate modeling
  foqus_lib/framework/optimizer/SM_Optimizer.py
Labels: Priority:High

#838 NUSF "numpyfication"
  foqus_lib/framework/sdoe/nusf.py
Labels: Priority:High, SDOE
