Repository CCSI-Toolset/FOQUS, pull requests merged in 2020-05, with the labels that each got.

#722 Results Generator Missing jobs
  cloud/aws/node/dynamo-stream-trigger/context.json
  cloud/aws/node/dynamo-stream-trigger/event.json
  cloud/aws/node/dynamo-stream-trigger/events/event.json
  cloud/aws/node/dynamo-stream-trigger/events/event_consumer_new.json
  cloud/aws/node/dynamo-stream-trigger/events/event_consumer_remove.json
  cloud/aws/node/dynamo-stream-trigger/events/event_consumer_update.json
  cloud/aws/node/dynamo-stream-trigger/index.js
  cloud/aws/node/dynamo-stream-trigger/package.json
  cloud/aws/node/post-session-result/events/event2.json
  cloud/aws/node/post-session-result/index.js
  cloud/aws/node/post-session-result/package.json
Labels: OUU, Priority:High, bug :bomb:

#723 Update to SDoE documentation
  docs/source/chapt_sdoe/basics-nonuniform.rst
  docs/source/chapt_sdoe/basics-runorder.rst
  docs/source/chapt_sdoe/basics-uniform.rst
  docs/source/chapt_sdoe/basics.rst
  docs/source/chapt_sdoe/creating-candidate.rst
  docs/source/chapt_sdoe/examples-nonuniform.rst
  docs/source/chapt_sdoe/examples-uniform.rst
  docs/source/chapt_sdoe/examples.rst
  docs/source/chapt_sdoe/figs/0-comparison-to-single.png
  docs/source/chapt_sdoe/figs/0-confirmation.png
  docs/source/chapt_sdoe/figs/0-exploration-constraint.png
  docs/source/chapt_sdoe/figs/0-exploration.png
  docs/source/chapt_sdoe/figs/0-model-refining.png
  docs/source/chapt_sdoe/figs/0-optimizing.png
  docs/source/chapt_sdoe/figs/0-stages.png
  docs/source/chapt_sdoe/figs/0_design_overview.png
  docs/source/chapt_sdoe/figs/0_design_overview2.png
  docs/source/chapt_sdoe/figs/3ord-comparison.png
  docs/source/chapt_sdoe/figs/NUSFex1-CDBW.png
  docs/source/chapt_sdoe/figs/NUSFex1-CDBWplot.png
  docs/source/chapt_sdoe/figs/NUSFex1-choices1.png
  docs/source/chapt_sdoe/figs/NUSFex1-createddesign.png
  docs/source/chapt_sdoe/figs/NUSFex1-graph1.png
  docs/source/chapt_sdoe/figs/NUSFex1-graph2.png
  docs/source/chapt_sdoe/figs/NUSFex1-graph3.png
  docs/source/chapt_sdoe/figs/NUSFex1-loadfile.png
  docs/source/chapt_sdoe/figs/NUSFex1-timing.png
  docs/source/chapt_sdoe/figs/NUSFex1-wts.png
  docs/source/chapt_sdoe/figs/NUSFex2_CDBW_MWR_2.png
  docs/source/chapt_sdoe/figs/NUSFex2_Choices1.png
  docs/source/chapt_sdoe/figs/NUSFex2_Choices2.png
  docs/source/chapt_sdoe/figs/NUSFex2_Scatter_MWR_2.png
  docs/source/chapt_sdoe/figs/NUSFex2_columns.png
  docs/source/chapt_sdoe/figs/NUSFex2_compareCDBW.png
  docs/source/chapt_sdoe/figs/NUSFex2_compareScatter.png
  docs/source/chapt_sdoe/figs/NUSFex2_scatter_wts.png
  docs/source/chapt_sdoe/figs/NUSFex2_start.png
  docs/source/chapt_sdoe/figs/NUSFex2_timing.png
  docs/source/chapt_sdoe/figs/addNewScreen.png
  docs/source/chapt_sdoe/figs/order_of_expt_2.png
  docs/source/chapt_sdoe/figs/order_of_expt_3.png
  docs/source/chapt_sdoe/figs/preview.png
  docs/source/chapt_sdoe/figs/samplingScheme.png
  docs/source/chapt_sdoe/figs/simSetup.png
  docs/source/chapt_sdoe/figs/visualize.png
  docs/source/chapt_sdoe/overview.rst
Labels: Documentation, Priority:High, SDOE

#721 Adding File Formats Documentation
  docs/source/chapt_ouu/index.rst
  docs/source/chapt_ouu/reference.rst
  docs/source/chapt_uq/file_formats/csv-format.rst
  docs/source/chapt_uq/file_formats/file-formats.rst
  docs/source/chapt_uq/file_formats/full-format.rst
  docs/source/chapt_uq/file_formats/sample-format.rst
  docs/source/chapt_uq/index.rst
  docs/source/chapt_uq/reference.rst
  docs/source/chapt_uq/tutorial/index.rst
  docs/source/chapt_uq/tutorial/sim.rst
Labels: Documentation, PSUADE, Priority:High, UQ

#716 Read from simple file
  foqus_lib/framework/uq/LocalExecutionModule.py
Labels: Priority:High, UQ

#718 Sdoe preview samples
  foqus_lib/gui/sdoe/sdoeSimSetup.py
Labels: Priority:High, SDOE, bug :bomb:

#726 SDoE: adding drop-down menu for SDoE Method
  foqus_lib/gui/sdoe/sdoeSetupFrame.py
  foqus_lib/gui/sdoe/sdoeSetupFrame_UI.ui
Labels: FOQUS GUI, Priority:Mid, SDOE
