Repository CCSI-Toolset/FOQUS, pull requests merged in 2021-09, with the labels that each got.

#962 Add SDOE IRSF Example csv file
  examples/tutorial_files/SDOE/irsf-example1-candset.csv
Labels: SDoE, Documentation, Priority:Normal

#953 SDOE IRSF Docs Update
  docs/source/chapt_sdoe/basics-inputresponse.rst
  docs/source/chapt_sdoe/basics.rst
  docs/source/chapt_sdoe/examples-inputresponse.rst
  docs/source/chapt_sdoe/examples.rst
  docs/source/chapt_sdoe/figs/0101-irsf-contour-small.png
  docs/source/chapt_sdoe/figs/0102-irsf-pointsizeplot-small.png
  docs/source/chapt_sdoe/figs/irsf-e101-firstpage.png
  docs/source/chapt_sdoe/figs/irsf-e102-dcboxselected.png
  docs/source/chapt_sdoe/figs/irsf-e120-viewcandset.png
  docs/source/chapt_sdoe/figs/irsf-e131-designchoices.png
  docs/source/chapt_sdoe/figs/irsf-e132-nrschoices.png
  docs/source/chapt_sdoe/figs/irsf-e133-nrsbox.png
  docs/source/chapt_sdoe/figs/irsf-e134-createddesign.png
  docs/source/chapt_sdoe/figs/irsf-e135-paretofront.png
  docs/source/chapt_sdoe/figs/irsf-e136-design11red.png
  docs/source/chapt_sdoe/figs/irsf-e136-design1purple.png
  docs/source/chapt_sdoe/figs/irsf-e136-design7lime.png
  docs/source/chapt_sdoe/figs/irsfb-0101-page1start.png
  docs/source/chapt_sdoe/figs/irsfb-0101b-candset-header.png
  docs/source/chapt_sdoe/figs/irsfb-0102a-candsetpreview.png
  docs/source/chapt_sdoe/figs/irsfb-0102b-page1after.png
  docs/source/chapt_sdoe/figs/irsfb-0103-page2full.png
  docs/source/chapt_sdoe/figs/irsfb-0104a-numrandstarts.png
  docs/source/chapt_sdoe/figs/irsfb-0104b-nrs-dropdown-menu.png
  docs/source/chapt_sdoe/figs/irsfb-0105-createddesigns-partial.png
  docs/source/chapt_sdoe/figs/irsfb-0106-paretofront.png
  docs/source/chapt_sdoe/figs/irsfb-0107a-purpledesign-bestresponse.png
  docs/source/chapt_sdoe/figs/irsfb-0107b-bluedesign-middle.png
  docs/source/chapt_sdoe/figs/irsfb-0107c-greendesign-middleworse.png
  docs/source/chapt_sdoe/figs/irsfb-0107d-reddesign-bestinput.png
  docs/source/chapt_sdoe/overview.rst
Labels: Priority:High

#963 Address formatting issues in Turbine Settings message boxes
  foqus_lib/gui/main/settingsFrame.py
Labels: Priority:High

#954 Adding ODoE documentation
  docs/source/chapt_odoe/figs/10_ODoE_outputSetup.png
  docs/source/chapt_odoe/figs/11_ODoE_RSValidation_message.png
  docs/source/chapt_odoe/figs/12a_ODoE_RSValidation_plot.png
  docs/source/chapt_odoe/figs/12b_ODoE_RSValidation_plot.png
  docs/source/chapt_odoe/figs/13_ODoE_RSConfirmed.png
  docs/source/chapt_odoe/figs/14_ODoE_PSUADErunning.png
  docs/source/chapt_odoe/figs/15_ODoE_resultsWindow.png
  docs/source/chapt_odoe/figs/16_ODoE_ResultsFile.png
  docs/source/chapt_odoe/figs/1_SDoE_main.png
  docs/source/chapt_odoe/figs/2_ODoE_main.png
  docs/source/chapt_odoe/figs/3a_ODoE_numInputs.png
  docs/source/chapt_odoe/figs/3b_ODoE_LoadRSTrainData.png
  docs/source/chapt_odoe/figs/4_ODoE_inputSetup.png
  docs/source/chapt_odoe/figs/5_ODoE_PriorGeneration1.png
  docs/source/chapt_odoe/figs/6_ODoE_PriorGeneration2.png
  docs/source/chapt_odoe/figs/7a_ODoE_LoadCand1.png
  docs/source/chapt_odoe/figs/7b_ODoE_CandGeneration0.png
  docs/source/chapt_odoe/figs/7b_ODoE_CandGeneration1.png
  docs/source/chapt_odoe/figs/8a_ODoE_LoadCand2.png
  docs/source/chapt_odoe/figs/8b_ODoE_CandGeneration2.png
  docs/source/chapt_odoe/figs/9_ODoE_CandGenerated.png
  docs/source/chapt_odoe/figs/9a-1_ODoE_LoadEval.png
  docs/source/chapt_odoe/figs/9a-2_ODoE_Cand&EvalSets.png
  docs/source/chapt_odoe/figs/9b_ODoE_Cand&EvalSets.png
  docs/source/chapt_odoe/index.rst
  docs/source/chapt_odoe/reference.rst
  docs/source/chapt_odoe/tutorial-createcand.rst
  docs/source/chapt_odoe/tutorial-loadcand.rst
  docs/source/chapt_odoe/tutorials.rst
  docs/source/index.rst
  examples/tutorial_files/ODOE/CandidateSet.csv
  examples/tutorial_files/ODOE/EvaluationSet.csv
  examples/tutorial_files/ODOE/ODoE_example.csv
  foqus_lib/gui/sdoe/sdoeSetupFrame_UI.ui
Labels: Documentation, Priority:Normal, ODoE

#961 SDoE: Adding couple of enhancements
  foqus_lib/framework/sdoe/df_utils.py
  foqus_lib/framework/sdoe/sdoe.py
  foqus_lib/gui/sdoe/sdoeSetupFrame.py
Labels: enhancement, SDoE, Priority:High

#960 SDoE: Adding Data Imputation Documentation
  docs/source/chapt_sdoe/basics.rst
  docs/source/chapt_sdoe/data-imputation.rst
  docs/source/chapt_sdoe/figs/01_dataImputation_missingValuesInfoWindow.png
  docs/source/chapt_sdoe/figs/02_dataImputation_loadIncompleteSet.png
  docs/source/chapt_sdoe/figs/03_dataImputation_RSValidationPlot_MARS.png
  docs/source/chapt_sdoe/figs/04_dataImputation_confirmRS.png
  docs/source/chapt_sdoe/figs/05_dataImputation_imputeData.png
  docs/source/chapt_sdoe/figs/06_dataImputation_newImputedCandidate.png
  docs/source/chapt_sdoe/figs/07_dataImputation_candViz.png
Labels: SDoE, Documentation, Priority:High

#965 update ODoE documentation
  docs/source/chapt_odoe/reference.rst
Labels: Documentation, Priority:Normal, ODoE

#964 update OUU reference documentation
  docs/source/chapt_ouu/reference.rst
Labels: OUU, Documentation

#966 fix ODoE docs
  docs/source/chapt_odoe/reference.rst
  docs/source/chapt_odoe/tutorials.rst
Labels: Documentation, Priority:High, ODoE
