Repository CCSI-Toolset/FOQUS, pull requests merged in 2022-02, with the labels that each got.

#980 ODoE Enhancements
  .github/actions/setup-foqus/action.yml
  .github/workflows/nightlies.yml
  docs/source/chapt_install/install_optional.rst
  docs/source/chapt_odoe/reference.rst
  docs/source/chapt_odoe/tutorials.rst
  foqus_lib/framework/sdoe/odoeu.py
  foqus_lib/gui/sdoe/sdoeSetupFrame.py
  foqus_lib/gui/sdoe/sdoeSetupFrame_UI.ui
Labels: SDoE, Priority:High, ODoE

#1007 Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Priority:Normal

#1002 addressing python3 API change from isAlive to is_alive
  foqus_lib/foqus.py
  foqus_lib/framework/listen/listen.py
  foqus_lib/gui/optimization/optMonitor.py
  foqus_lib/gui/surrogate/surrogateFrame.py
  foqus_lib/gui/uq/uqSetupFrame.py
  foqus_lib/service/flowsheet.py
Labels: bug :bomb:, UQ, FOQUS Cloud

#1001 FOQUS Cloud: fixing OUU bug
  foqus_lib/gui/flowsheet/dataBrowserFrame.py
Labels: bug :bomb:, OUU, Flowsheet, FOQUS Cloud

#1006 Add status badges to README.md
  README.md
Labels: Priority:Normal
